In [ ]:
#hide
from netdata_pandas.data import *

[![pypi package](https://img.shields.io/pypi/v/netdata-pandas.svg)](https://pypi.python.org/pypi/netdata-pandas/) 
[![CI](https://github.com/netdata/netdata-pandas/workflows/CI/badge.svg)](https://github.com/netdata/netdata-pandas/actions?query=workflow%3ACI)

# netdata-pandas

> A helper library to pull data from netdata api into a pandas dataframe.

## Install

`pip install netdata-pandas`

## Quickstart

Get some data into a pandas dataframe.

In [ ]:
from netdata_pandas.data import get_data

df = get_data('london.my-netdata.io', ['system.cpu','system.load'], after=-60, before=0)
print(df.shape)
df.head()

(61, 12)

,system.cpu|guest_nice,system.cpu|guest,system.cpu|steal,system.cpu|softirq,system.cpu|irq,system.cpu|user,system.cpu|system,system.cpu|nice,system.cpu|iowait,system.load|load1,system.load|load5,system.load|load15
time_idx,,,,,,,,,,,,
1592257125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1592257129,0.0,0.0,0.0,0.000000,0.0,0.501253,0.751880,0.0,0.0,NaN,NaN,NaN
1592257130,0.0,0.0,0.0,0.000000,0.0,0.501253,0.751880,0.0,0.0,0.0,0.0,0.0
1592257131,0.0,0.0,0.0,0.249377,0.0,0.997506,0.498753,0.0,0.0,NaN,NaN,NaN
1592257132,0.0,0.0,0.0,0.000000,0.0,0.503778,0.755668,0.0,0.0,NaN,NaN,NaN