In [ ]:
#hide
from netdata_pandas.data import *

[![pypi package](https://img.shields.io/pypi/v/netdata-pandas.svg)](https://pypi.python.org/pypi/netdata-pandas/) 
[![CI](https://github.com/netdata/netdata-pandas/workflows/CI/badge.svg)](https://github.com/netdata/netdata-pandas/actions?query=workflow%3ACI)

# netdata-pandas

> A helper library to pull data from netdata api into a pandas dataframe.

## Install

`pip install netdata-pandas`

## Documentation

More detailed documentation can be found at https://netdata.github.io/netdata-pandas

## Quickstart

Get some data into a pandas dataframe.

In [ ]:
from netdata_pandas.data import get_data

df = get_data('london.my-netdata.io', ['system.cpu','system.load'], after=-60, before=0)
print(df.shape)
print(df.head())

(60, 12)
            system.cpu|guest  system.cpu|guest_nice  system.cpu|iowait  \
time_idx
1604928205               0.0                    0.0                0.0
1604928206               0.0                    0.0                0.0
1604928207               0.0                    0.0                0.0
1604928208               0.0                    0.0                0.0
1604928209               0.0                    0.0                0.0

            system.cpu|irq  system.cpu|nice  system.cpu|softirq  \
time_idx
1604928205             0.0              0.0                 0.0
1604928206             0.0              0.0                 0.0
1604928207             0.0              0.0                 0.0
1604928208             0.0              0.0                 0.0
1604928209             0.0              0.0                 0.0

            system.cpu|steal  system.cpu|system  system.cpu|user  \
time_idx
1604928205          0.000000           0.501253         0.501253
1604928206          0.000000           0.753769         0.502513
1604928207          0.000000           0.505050         0.505050
1604928208          0.000000           0.751880         0.501253
1604928209          0.251256           0.251256         0.502513

            system.load|load1  system.load|load15  system.load|load5
time_idx
1604928205               0.03                 0.0               0.04
1604928206               0.03                 0.0               0.04
1604928207               0.03                 0.0               0.04
1604928208               0.03                 0.0               0.04
1604928209               0.03                 0.0               0.04

In [ ]:
# an alternative way to use it is to define what hosts and charts you want via the host_charts_dict param

# define list of charts for each host you want data for
host_charts_dict = {
    "london.my-netdata.io" : ['system.io','system.ip'],
    "newyork.my-netdata.io" : ['system.io','system.net'],
}
df = get_data(host_charts_dict=host_charts_dict, host_prefix=True)
print(df.shape)
df.head()

(61, 8)

,london.my-netdata.io::system.io|in,london.my-netdata.io::system.io|out,london.my-netdata.io::system.ip|received,london.my-netdata.io::system.ip|sent,newyork.my-netdata.io::system.io|in,newyork.my-netdata.io::system.io|out,newyork.my-netdata.io::system.net|received,newyork.my-netdata.io::system.net|sent
time_idx,,,,,,,,
1604928205,NaN,NaN,NaN,NaN,0.0,0.00000,22.504610,-98.626510
1604928206,0.0,0.000000,130.73635,-123.73966,0.0,-36.20121,22.008190,-16.564677
1604928207,0.0,-26.910170,282.60690,-126.88656,0.0,-51.79879,19.258920,-16.588992
1604928208,0.0,-13.089829,139.39631,-69.74703,0.0,0.00000,14.081868,-17.615410
1604928209,0.0,0.000000,64.39024,-62.24043,0.0,0.00000,15.863426,-18.286320

## Examples

You can find some more examples in the [examples](https://github.com/netdata/netdata-pandas/tree/master/examples) folder. 

Or if you just want to play with it right now you can use [this Google Colab notebook](https://colab.research.google.com/drive/1SGF3Ij1r8gNJOwdk-3cVhCvyUGwGiTnc?usp=sharing) to quickly get started.